


{% load socialaccount %}
{% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script >
          $(window).on('load', function() {  
          $('#loading').fadeOut(); 
          $('#Load').delay(100).fadeOut('slow');  
          $('body').delay(100).css({'overflow':'visible'});
        })
    </script>


 <style>
          .content2 {
          position: fixed;
          top: 10%;
          left: 0;
          background: rgba(0, 0, 0, 0.5);
          color: #FFF700;
          width: 100%;
          padding: 2px;
          border-bottom:4px solid #B2F302; 
          border-top:4px solid #B2F302; 
          
          
        }
        .content3 {
          position: fixed;
          top: 80%;
          left: 0;
          background: rgba(0, 0, 0, 0.5);
          color: #FFF700;
          width: 100%;
          padding: 2px;
          
          
          
        }
        .header {
          text-align: center;
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          
        }
         body {
            background-image: url( '/static/images/wall.png' );
             background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
         }
         
         .navbar{
            border-radius:0;
         }
         .navbar-brand {
            font-family:'Satisfy',cursive;
              
        }
        .jumbotron { 
          background-color: #008000; 
          color: #FFDF00;
          font-family:'Satisfy',cursive;
          border: 3px solid black;
        }
        .image{
            border:3px solid black;
            padding:6px;
        }
        hr{
            border-bottom: 4px solid black;
        }
        blockquote{
            background-image: url('/static/images/bq.jpg');
            font-family:'Satisfy';
            font-size: 200%;
            border:2px solid black;
        }
        a:visited{
            text-decoration:none;
            color:white;
            text-align: center;
            z-index: -3000;
        }
        .btn {
              border: none;
              color: white;
              padding: 14px 28px;
              font-size: 16px;
              cursor: pointer;
              text-align: center;
            }

        .warning {background-color: #ff9800;} /* Orange */
        .warning:hover {background: #e68a00;}
        .contacts{
            background-color:#008000;
            color: #FFDF00;
            border:2px solid black;

        }
        .cus{
            border:2px solid black;
            padding:2px;
            left:30%;
        }
        .load__animation{
          border: 5px solid #272727;
          border-top-color: #e50914;
          border-top-style: groove;
          height: 100px;
          width: 100px;
          border-radius: 100%;
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          -webkit-animation: turn 1.5s linear infinite;
          -o-animation: turn 1.5s linear infinite;
          animation: turn 1.5s linear infinite;
        }

        .load {
          position: fixed;
          background: url(http://i.imgur.com/JUlfODF.png) no-repeat 50% fixed / cover;);
          width: 100%;
          height: 100vh;
          display: flex;
          align-items:center;
          justify-content: center;
          z-index: 999;
        }

        .load__container {
          position: relative;
        }

        @keyframes turn {
          from {transform: rotate(0deg)}
          to {transform: rotate(360deg)}
        } 

        .load__title {
          color: #fff;
          font-size: 2rem;
        }


        @keyframes loadPage {
          0% {
            opacity: 1;
          }
          50% {
            opacity: .5;
          }
          100% {
            opacity: 1;
          }
          
        }
        img {
          border: 2px solid #66FF66;
          border-radius: 8px; 
          padding: 5px;
          width: 31%;
          height:250px;
        }

        img:hover {
          border: 3px solid #66FF66;
          border-radius: 8px; 
          box-shadow: 0px 0px 15px 15px rgba(0, 140, 186, 0.5);
        }
        

      </style>  
         
</head>
<body >
 <div id="Load" class="load">
      <div class="load__container">
        <div class="load__animation"></div>
        <div class="load__mask"></div>
        <span class="load__title">Killing Hunger...</span>
      </div>
    </div>
    <span>Loaded!<br><br><br><span/>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">

        
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
         <a href="#" class="navbar-brand " >Tummy Truck</a>
        </div>

        
        <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav">
                <li><a href="{%url 'index'%}"><span class="glyphicon glyphicon-home"></span>&nbspHome</a></li>
                  {% if user.is_authenticated %}
                <li class="active" ><a href="{%url 'placeView'%}"><span class="glyphicon glyphicon-shopping-cart"></span>&nbspOrder Food</a></li>
                {%else%}
                <li class="active"><a href="{%url 'placeView'%}"><span class="glyphicon glyphicon-glass"></span>&nbspBrowse Restaurants</a></li>
                <li><a href="{% url 'account_login'%}"><span class="glyphicon glyphicon-log-in"></span>&nbspLogin</a></li>
                
                {%endif%}
                
            </ul>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              
              <li><a href="{%url 'pastView'%}"><span class="glyphicon glyphicon-tasks"></span>&nbspPast Orders</a></li>
              <li><a href="{%url 'account_logout'%}"><span class="glyphicon glyphicon-log-out"></span>&nbspLogout</a></li>
            </ul>
            {%endif%} 
                
        </div>
    </div>
</nav>

<div class="content2 header"><h2>Select Your City</h2></div>
<br><br><br><br><br><br>
{% for city in place %}

<a href="{% url 'restaurants_view' qcity=city.place%}"><img src='/static/images/{{city.place}}.jpg'></a>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
{% endfor %}

<div class="content3 header"><h2>Welcome&nbsp {{user.username}}</h2></div>

</body>

